body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
button {
  background-color: #fd3636;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #4f0202;
}
form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  padding: 25px;
  margin-top: 10%;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(134, 131, 131);
  font-size: 16px;
  color: #333;
}
