/* test */
body {
  margin: 10px;
  background-color: #c9c3c3;
  display: flex;
  flex-direction: column;
  height: 90dvh;
}
input {
  width: 50%;
  margin: 30px auto;
  height: 50px;
  font-size: 30px;
}
button {
  margin: 30px auto;
  border-radius: 20px;
  background-color: #822a62;
  width: 20%;
  height: 50px;
}
.animalResult {
  width: 80%;
  height: 50%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
#welcome {
  font-size: 30px;
  font-weight: bold;
  margin: 20px auto;
}
img {
  width: 80%;
  height: 600px;
  margin: 10px auto;
}
